@media only screen and (min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: space-between;
        padding: 0.9375rem 1.5rem;
    }

    .section_hero_img {
        background-image: url('../images/tula-atlantes-wide.jpg');
        min-height: 70vh;
        margin-bottom: var(--spacing-lg);
    }

    .hero-content h2 {
        font-size: 3rem;
    }

    .hero-content p {
        font-size: 1.5rem;
    }

    .nav_menu {
        display: flex;
        position: static;
        background-color: transparent;
        flex-direction: row;
        padding: 0;
        box-shadow: none;
        border: none;
    }

    .fa-sun {
        margin-right: var(--spacing-sm);
        font-size: 3.125rem;
    }

    .nav_menu.active {
        width: auto;
        top: auto;
        right: auto;
    }

    .menu_toggle {
        display: none;
    }
    
    nav li {
        border-bottom: 1px solid var(--gold);
    }

    nav a {
        color: var(--text-light);
        text-decoration: none;
        padding: var(--spacing-sm) 0;
        width: 5rem;
        text-align: center;
    }

    .hero-button {
        top: 90%;
        width: 150px;
        height: 50px;
        font-size: 26px;
    }
}
