@media only screen and (min-width: 768px) {
    .members-ul-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #business-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    .members_box {
        border: 1px solid var(--text-dark);
        border-radius: var(--border-radius);
        width: 100%;
    }

    .toggle-layout-btn {
        display: inline-block;
    }

    .list-layout-btn {
        display: inline-block;
        color: var(--text-light);
        background-color: var(--bg-dark-solid);
        border-radius: var(--spacing-xs);
        height: 1.875rem;
        width: 12.5rem;
        margin-bottom: var(--spacing-sm);
    }

    .list-layout-btn:hover {
        cursor: pointer;
        background-color: var(--text-light);
        border: 0.125rem solid var(--text-dark);
        color: var(--text-dark);
        font-weight: 600;
    }

    #business-list.list-layout {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 760px;
    }

    #business-list.list-layout > .members_box {
        display: flex;
        flex-direction: row;
    }

    #business-list.no-margin .members-img {
        margin-top: 0;
    }

    .card-data-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
