@media (max-width: 461px) {
    .first-section {
        background-image: 
            /* linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), */
            url("../images/lutusm1.jpg");
            background-repeat: no-repeat;
    }
}